<div class="card">
    <div class="card-header">
      {{titulo}}
    </div>
    <div class="card-body">
      <form novalidate (ngSubmit)="salvarEstudante()" [formGroup]="formEstudante">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" 
          for="idNomeEstudante">Nome do Estudante</label>
          <div class="col-md-8">
            <input class="form-control" 
            id="idNomeEstudante" type="text" 
            placeholder="(Nome obrigatório)"
            formControlName="nome"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idPesoEstudante">Peso do Estudante</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idPesoEstudante"
            type="text"
            placeholder="(Peso obrigatório)"
            formControlName="peso"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idCorCabelo">Cor do Cabelo do Estudante</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idCorCabelo"
            type="text"
            placeholder="(Cor do Cabelo obrigatório)"
            formControlName="corCabelo"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idCorOlhos">Cor dos Olhos</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idCorOlhos"
            type="text"
            formControlName="corOlhos"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idAnoNascimento">Ano de Nascimento</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idAnoNascimento"
            type="text"
            placeholder="Ano de Nascimento"
            formControlName="anoNascimento"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idSexo">Sexo</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idSexo"
            type="text"
            placeholder="(Sexo obrigatório)"
            formControlName="sexo"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="idPlaneta">Planeta</label>
          <div class="col-md-8">
            <input class="form-control"
            id="idPlaneta"
            type="text"
            placeholder="(Planeta obrigatório)"
            formControlName="planeta"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-6">
            <button class="btn btn-primary mr-4"
            style="width:100px;"
            type="submit"
            [title]="formEstudante.valid ? 'Salvar seus dados' : 'Desabilitado até que os dados estejam válidos'"
            [disabled]="!formEstudante.valid">
            Salvar
          </button>
          <button class="btn btn-outline-secondary mr-4"
          style="width:100px;"
          type="button"
          title="Cancelar edições"
          [routerLink]="['/estudantes']">
          Cancelar
        </button>
        <button class="btn btn-outline-warning mr-4"
        style="width:100px"
        type="button"
        title="Deletar Estudante"
        (click)="deletarEstudante()">
        Deletar
      </button>
    </div>
  </div>
  </form>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
  </div>